openapi: 3.2.0
info:
  title: MineOS System API
  version: v1.0
servers:
- url: https://api.portal.saymine.com/
  description: MineOS EU API Endpoint
- url: https://api.us.portal.saymine.com/
  description: MineOS US API Endpoint
security:
- Bearer: []
tags:
- name: System
paths:
  /api/public-v1/system/List:
    get:
      tags:
      - System
      summary: List all the data sources in your company by state
      parameters:
      - name: state
        in: query
        description: The state of the requested data sources.
        schema:
          $ref: '#/components/schemas/SystemState'
      - name: offset
        in: query
        description: The offset size for pagination. default is 0
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The page size for pagination. default is 100
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystemPublicLeanResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
      operationId: getApiPublicV1SystemList
      x-operation-id-source: derived
  /api/public-v1/system/{id}:
    get:
      tags:
      - System
      summary: Get data source by Id
      parameters:
      - name: id
        in: path
        description: The id of the requested data source
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemPublicResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
      operationId: getApiPublicV1SystemById
      x-operation-id-source: derived
    patch:
      tags:
      - System
      summary: Update a Data Source properties in the inventory
      parameters:
      - name: id
        in: path
        description: The id of the requested data source to update
        required: true
        schema:
          type: string
      requestBody:
        description: the patch request of the data source
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SystemPublicPatchDtoJsonPatchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SystemPublicPatchDtoJsonPatchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SystemPublicPatchDtoJsonPatchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SystemPublicPatchDtoJsonPatchRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemPublicResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
      operationId: patchApiPublicV1SystemById
      x-operation-id-source: derived
  /api/public-v1/system/AddCatalogSystem:
    post:
      tags:
      - System
      summary: Add new Data Source from the catalog to the inventory
      requestBody:
        description: The request with the site domain which the requested data source related to
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddCatalogSystemPublicRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AddCatalogSystemPublicRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AddCatalogSystemPublicRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddCatalogSystemPublicRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemPublicResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
      operationId: postApiPublicV1SystemAddCatalogSystem
      x-operation-id-source: derived
  /api/public-v1/system/AddCustomSystem:
    post:
      tags:
      - System
      summary: Add new Custom Data Source to the inventory
      requestBody:
        description: The request with the name for the new custom data source
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddCustomSystemPublicRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomSystemPublicRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AddCustomSystemPublicRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddCustomSystemPublicRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemPublicResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
      operationId: postApiPublicV1SystemAddCustomSystem
      x-operation-id-source: derived
  /api/public-v1/system/business-unit/list:
    get:
      tags:
      - System
      summary: List all the existing business units (departments) in your company
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessUnitPublicResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
      operationId: getApiPublicV1SystemBusinessUnitList
      x-operation-id-source: derived
  /api/public-v1/system/{id}/ai-autofill:
    post:
      tags:
      - System
      summary: Trigger AI autofill suggestions for a data source
      parameters:
      - name: id
        in: path
        description: The id of the data source to autofill
        required: true
        schema:
          type: string
      requestBody:
        description: Optional custom prompt and correlation id. A correlation id is generated when not supplied.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SystemAutofillTriggerPublicRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SystemAutofillTriggerPublicRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SystemAutofillTriggerPublicRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SystemAutofillTriggerPublicRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemAutofillTriggerPublicResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPublicResponse'
      operationId: postApiPublicV1SystemByIdAiAutofill
      x-operation-id-source: derived
components:
  schemas:
    SystemAutofillTriggerPublicRequest:
      type: object
      properties:
        customPrompt:
          maxLength: 50000
          type:
          - string
          - 'null'
          description: Optional free-text prompt to steer the AI autofill.
        correlationId:
          type:
          - string
          - 'null'
          description: Optional client-supplied correlation id. A value is generated when not supplied.
        ownerEmail:
          type:
          - string
          - 'null'
          description: 'The email address of the data source owner. When supplied and the email resolves to an

            agent in the company, the resulting run is attributed to that owner.'
          format: email
      additionalProperties: false
    SystemPublicLeanResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    SystemState:
      enum:
      - Unknown
      - Radar
      - Inventory
      - Trash
      - Merged
      type: string
    AddCatalogSystemPublicRequest:
      required:
      - domain
      type: object
      properties:
        owner:
          type:
          - string
          - 'null'
        businessUnits:
          type:
          - array
          - 'null'
          items:
            type: string
        domain:
          minLength: 1
          type: string
      additionalProperties: false
    PatchOperationType:
      enum:
      - Add
      - Remove
      - Replace
      type: string
    SystemPublicResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        isCustom:
          type: boolean
        state:
          $ref: '#/components/schemas/SystemState'
        discoveryDate:
          type:
          - string
          - 'null'
          format: date-time
        discoveryMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DataSourceOriginEnum'
        serverLocations:
          type:
          - array
          - 'null'
          items:
            type: string
        ownerEmail:
          type:
          - string
          - 'null'
        stakeHolders:
          type:
          - array
          - 'null'
          items:
            type: string
        reviewStatus:
          $ref: '#/components/schemas/ReviewStatus'
        removalInfo:
          $ref: '#/components/schemas/RemovalInfo'
      additionalProperties: false
    BusinessUnitPublicResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        isCustom:
          type: boolean
      additionalProperties: false
    RemovalInfo:
      type: object
      properties:
        removalJustification:
          type:
          - string
          - 'null'
        removedBy:
          type:
          - string
          - 'null'
        removeDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    SystemPublicPatchDtoJsonPatchOperation:
      required:
      - operationType
      - path
      - value
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/PatchOperationType'
        path:
          minLength: 1
          type: string
        value: {}
      additionalProperties: false
    AddCustomSystemPublicRequest:
      required:
      - name
      type: object
      properties:
        owner:
          type:
          - string
          - 'null'
        businessUnits:
          type:
          - array
          - 'null'
          items:
            type: string
        name:
          minLength: 1
          type: string
      additionalProperties: false
    DataSourceOriginEnum:
      enum:
      - Unknown
      - Manual
      - GoogleSso
      - Email
      - Website
      - Automatic
      - AwsCloud
      - OktaSso
      - GcpCloud
      - EntraSso
      type: string
    InternalErrorCode:
      enum:
      - GeneralError
      - NotFound
      - AlreadyExists
      - InvalidArgument
      type: string
    SystemPublicPatchDtoJsonPatchRequest:
      type: object
      properties:
        operations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SystemPublicPatchDtoJsonPatchOperation'
      additionalProperties: false
    SystemAutofillTriggerPublicResponse:
      type: object
      properties:
        runId:
          type: integer
          description: The id of the autofill run that was created. Use it to correlate suggestions and run status.
          format: int32
        correlationId:
          type:
          - string
          - 'null'
          description: 'The correlation id associated with this autofill run. Echoes the value supplied in the

            request when present, otherwise a server-generated value.'
      additionalProperties: false
    StatusOfReview:
      enum:
      - Draft
      - Pending
      - Approved
      - InEvaluation
      - Rejected
      type: string
    ErrorPublicResponse:
      type: object
      properties:
        internalErrorCode:
          $ref: '#/components/schemas/InternalErrorCode'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReviewStatus:
      type: object
      properties:
        lastActionDate:
          type:
          - string
          - 'null'
          format: date-time
        reviewer:
          type:
          - string
          - 'null'
        agentReviewerId:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/StatusOfReview'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "Authorization header using the Bearer scheme. \n\nEnter 'Bearer' [space] and then your API Key in the text input below.\n\nExample: 'Bearer 12345abcdef'"
      name: Authorization
      in: header
