openapi: 3.2.0
info:
  title: MineOS Privacy Rights Public API
  version: v1.0
servers:
- url: https://api.portal.saymine.com/
  description: MineOS EU API Endpoint
- url: https://api.us.portal.saymine.com/
  description: MineOS US API Endpoint
security:
- Bearer: []
tags:
- name: PrivacyRightsPublic
paths:
  /api/public-v1/privacy-rights:
    get:
      tags:
      - PrivacyRightsPublic
      summary: Get privacy rights
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivacyRightResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
      operationId: getApiPublicV1PrivacyRights
      x-operation-id-source: derived
    post:
      tags:
      - PrivacyRightsPublic
      summary: Create a privacy right
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PrivacyRightRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacyRightRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PrivacyRightRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PrivacyRightRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRightCreationResponse'
        '401':
          description: Unauthorized
        '409':
          description: Conflict
      operationId: postApiPublicV1PrivacyRights
      x-operation-id-source: derived
components:
  schemas:
    PrivacyRightCreationResponse:
      type: object
      properties:
        privacyRightId:
          type:
          - string
          - 'null'
          description: The unique identifier of the created privacy right
      additionalProperties: false
    PrivacyRightResponse:
      type: object
      properties:
        rightId:
          type:
          - string
          - 'null'
          description: The unique identifier of the privacy right.
          example: IC8EfhUvoEen1k8bHBeN7B
        name:
          type:
          - string
          - 'null'
          description: The name of the privacy right.
          example: Unsubscribe
        description:
          type:
          - string
          - 'null'
          description: The description of the privacy right.
          example: Allows opting out of marketing communication.
        enabled:
          type: boolean
          description: Indicates whether the privacy right is enabled.
          example: true
        rightProcessingType:
          type:
          - string
          - 'null'
          description: The type of processing associated with the privacy right.
          example: DataMutation | DataCollection
        workflows:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkflowSummary'
          description: Available workflows for this privacy right.
        eligibleRegions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EligibleRegionResponse'
          description: The regions in which this privacy right is eligible to be exercised.
      additionalProperties: false
    WorkflowSummary:
      type: object
      properties:
        workflowId:
          type:
          - string
          - 'null'
          description: Workflow id.
          example: 3664feb0-b48c-4a8a-a81d-1303a4efc64f
        workflowName:
          type:
          - string
          - 'null'
          description: Workflow display name.
          example: Employees
        isDefault:
          type: boolean
          description: True when this is the right's default workflow.
          example: true
      additionalProperties: false
    PrivacyRightRequest:
      required:
      - description
      - name
      - operationType
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 1
          type: string
          description: The name of the privacy right.
          example: Unsubscribe
        description:
          maxLength: 1000
          minLength: 1
          type: string
          description: The description of the privacy right.
          example: Allows opting out of marketing communication.
        operationType:
          minLength: 1
          type: string
          description: The type of operation associated with the privacy right.
          example: DataMutation | DataCollection
        id:
          maxLength: 50
          minLength: 5
          type:
          - string
          - 'null'
          description: 'The unique identifier of the privacy right. If not provided it is generated by the system.

            Must contain only English letters (uppercase or lowercase), numbers, or hyphens (-). It must be between 5 and 50 characters in length.'
          example: IC8EfhUvoEen1k8bHBeN7B
        enabled:
          type: boolean
          description: Indicates whether the privacy right is enabled. If true will automatically appear in the privacy form.
          example: true
      additionalProperties: false
    EligibleRegionResponse:
      type: object
      properties:
        continent:
          type:
          - string
          - 'null'
          description: The continent code of the eligible region.
          example: EUR
        country:
          type:
          - string
          - 'null'
          description: The ISO country code of the eligible region.
          example: GB
        state:
          type:
          - string
          - 'null'
          description: The state/province code of the eligible region, when applicable.
          example: FL
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "Authorization header using the Bearer scheme. \n\nEnter 'Bearer' [space] and then your API Key in the text input below.\n\nExample: 'Bearer 12345abcdef'"
      name: Authorization
      in: header
