openapi: 3.2.0
info:
  title: Mine Aispm Enroll API
  version: '1.0'
  description: 'Operations tagged AispmEnroll across 2 of this provider''s published API definitions: mine-openapi-original.json, mine-partners-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.portal.saymine.com/
  description: MineOS EU API Endpoint
- url: https://api.us.portal.saymine.com/
  description: MineOS US API Endpoint
security:
- Bearer: []
tags:
- name: AispmEnroll
paths:
  /enroll:
    post:
      tags:
      - AispmEnroll
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
      responses:
        '200':
          description: Success
      summary: Create enroll
      x-summary-source: derived
      operationId: postEnroll
      x-operation-id-source: derived
    servers:
    - url: https://api.portal.saymine.com/
      description: MineOS EU API Endpoint
    - url: https://api.us.portal.saymine.com/
      description: MineOS US API Endpoint
  /enroll/renew:
    post:
      tags:
      - AispmEnroll
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RenewRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/RenewRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RenewRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RenewRequest'
      responses:
        '200':
          description: Success
      summary: Create enroll renew
      x-summary-source: derived
      operationId: postEnrollRenew
      x-operation-id-source: derived
    servers:
    - url: https://api.portal.saymine.com/
      description: MineOS EU API Endpoint
    - url: https://api.us.portal.saymine.com/
      description: MineOS US API Endpoint
components:
  schemas:
    EnrollmentRequest:
      type: object
      properties:
        token:
          type:
          - string
          - 'null'
        csr:
          type:
          - string
          - 'null'
      additionalProperties: false
    RenewRequest:
      type: object
      properties:
        csr:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "Authorization header using the Bearer scheme. \n\nEnter 'Bearer' [space] and then your API Key in the text input below.\n\nExample: 'Bearer 12345abcdef'"
      name: Authorization
      in: header
x-refined-from:
- mine-openapi-original.json
- mine-partners-openapi-original.json
