openapi: 3.2.0
info:
  title: Mine Aispm Enrollment Tokens API
  version: '1.0'
  description: 'Operations tagged AispmEnrollmentTokens across 2 of this provider''s published API definitions: mine-openapi-original.json, mine-partners-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.portal.saymine.com/
  description: MineOS EU API Endpoint
- url: https://api.us.portal.saymine.com/
  description: MineOS US API Endpoint
security:
- Bearer: []
tags:
- name: AispmEnrollmentTokens
paths:
  /api/aispm/v1/enrollment-tokens:
    post:
      tags:
      - AispmEnrollmentTokens
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
      responses:
        '200':
          description: Success
      summary: Create api aispm enrollment tokens
      x-summary-source: derived
      operationId: postApiAispmV1EnrollmentTokens
      x-operation-id-source: derived
    servers:
    - url: https://api.portal.saymine.com/
      description: MineOS EU API Endpoint
    - url: https://api.us.portal.saymine.com/
      description: MineOS US API Endpoint
  /api/aispm/v1/enrollment-tokens/rotate:
    post:
      tags:
      - AispmEnrollmentTokens
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EnrollmentTokenRequest'
      responses:
        '200':
          description: Success
      summary: Create api aispm enrollment tokens rotate
      x-summary-source: derived
      operationId: postApiAispmV1EnrollmentTokensRotate
      x-operation-id-source: derived
    servers:
    - url: https://api.portal.saymine.com/
      description: MineOS EU API Endpoint
    - url: https://api.us.portal.saymine.com/
      description: MineOS US API Endpoint
  /api/aispm/v1/enrollment-tokens/{tokenId}:
    delete:
      tags:
      - AispmEnrollmentTokens
      parameters:
      - name: tokenId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      summary: Delete api aispm enrollment tokens by token id
      x-summary-source: derived
      operationId: deleteApiAispmV1EnrollmentTokensByTokenId
      x-operation-id-source: derived
    servers:
    - url: https://api.portal.saymine.com/
      description: MineOS EU API Endpoint
    - url: https://api.us.portal.saymine.com/
      description: MineOS US API Endpoint
components:
  schemas:
    EnrollmentTokenRequest:
      type: object
      properties:
        validDays:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "Authorization header using the Bearer scheme. \n\nEnter 'Bearer' [space] and then your API Key in the text input below.\n\nExample: 'Bearer 12345abcdef'"
      name: Authorization
      in: header
x-refined-from:
- mine-openapi-original.json
- mine-partners-openapi-original.json
