openapi: 3.2.0
info:
  title: Mine Aispm Ingest API
  version: '1.0'
  description: 'Operations tagged AispmIngest across 2 of this provider''s published API definitions: mine-openapi-original.json, mine-partners-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.portal.saymine.com/
  description: MineOS EU API Endpoint
- url: https://api.us.portal.saymine.com/
  description: MineOS US API Endpoint
security:
- Bearer: []
tags:
- name: AispmIngest
paths:
  /ingest:
    post:
      tags:
      - AispmIngest
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AispmIngestMintRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AispmIngestMintRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AispmIngestMintRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AispmIngestMintRequest'
      responses:
        '200':
          description: Success
      summary: Create ingest
      x-summary-source: derived
      operationId: postIngest
      x-operation-id-source: derived
    servers:
    - url: https://api.portal.saymine.com/
      description: MineOS EU API Endpoint
    - url: https://api.us.portal.saymine.com/
      description: MineOS US API Endpoint
components:
  schemas:
    AispmIngestMintRequest:
      type: object
      properties:
        reportId:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  securitySchemes:
    Bearer:
      type: apiKey
      description: "Authorization header using the Bearer scheme. \n\nEnter 'Bearer' [space] and then your API Key in the text input below.\n\nExample: 'Bearer 12345abcdef'"
      name: Authorization
      in: header
x-refined-from:
- mine-openapi-original.json
- mine-partners-openapi-original.json
