openapi: 3.2.0
info:
  title: MineOS Evidence Search API
  version: v1.0
servers:
- url: https://api.portal.saymine.com/
  description: MineOS EU API Endpoint
- url: https://api.us.portal.saymine.com/
  description: MineOS US API Endpoint
security:
- Bearer: []
tags:
- name: EvidenceSearch
paths:
  /api/EvidenceSearch/Request/{requestId}:
    get:
      tags:
      - EvidenceSearch
      summary: Search request by ID
      parameters:
      - name: requestId
        in: path
        description: Request ID
        required: true
        schema:
          type: string
        example: 5G1A43Z
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MineAppSearchResponse'
      operationId: getApiEvidenceSearchRequestByRequestId
      x-operation-id-source: derived
components:
  schemas:
    ExternalRequestStateInfo:
      type: object
      properties:
        changeSource:
          $ref: '#/components/schemas/StateChangeSource'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        reason:
          $ref: '#/components/schemas/ReasonEnum'
        state:
          $ref: '#/components/schemas/ExternalTicketState'
        agent:
          type:
          - string
          - 'null'
        agentEmail:
          type:
          - string
          - 'null'
      additionalProperties: false
    AuthorizedAgentResponse:
      type: object
      properties:
        authorizedAgentEmail:
          type:
          - string
          - 'null'
        verificationDocumentFileLabel:
          type:
          - string
          - 'null'
        verificationDocumentFileDownloadLink:
          type:
          - string
          - 'null'
      additionalProperties: false
    FileAttachment:
      type: object
      properties:
        label:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        path:
          type:
          - string
          - 'null'
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    EmailEvidenceContract:
      type: object
      properties:
        fromAddress:
          type:
          - string
          - 'null'
        fromDisplayName:
          type:
          - string
          - 'null'
        replyTo:
          type:
          - array
          - 'null'
          items:
            type: string
        subjectLine:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
      additionalProperties: false
    FormCustomData:
      type: object
      properties:
        state:
          type:
          - string
          - 'null'
        mobileNumber:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
        customQuestion:
          $ref: '#/components/schemas/CustomQuestion'
        authorizedAgentInfo:
          $ref: '#/components/schemas/AuthorizedAgentInfo'
        fileAttachment:
          $ref: '#/components/schemas/FileAttachment'
        formCustomEntries:
          type:
          - string
          - 'null'
        fullUrl:
          type:
          - string
          - 'null'
        referrer:
          type:
          - string
          - 'null'
      additionalProperties: false
    MineAppSearchResponse:
      type: object
      properties:
        ownedItem:
          $ref: '#/components/schemas/OwnedDsrItem'
        error:
          type:
          - string
          - 'null'
          description: Error message if request is not found
      additionalProperties: false
    StateChangeSource:
      enum:
      - Unknown
      - DataAction
      - Agent
      - ApiKey
      - BackCompat
      - AutoRejectRule
      - EvidenceFinder
      - AutoRedactRule
      - AutoCompleteRule
      - AutoAcceptRule
      - FormSubmission
      - EmailValidation
      - EmailForwarding
      - ManualCreation
      - Manual
      - AutoClose
      - Import
      - AutoTransition
      - InternalOrchestration
      type: string
    TicketType:
      enum:
      - Unknown
      - Delete
      - GetCopy
      - DoNotSell
      - Undetermined
      - DoNotMail
      - RightToEdit
      type: string
    TicketSource:
      enum:
      - Unknown
      - MineApp
      - Form
      - Api
      - EmailForwarding
      - Manual
      - Import
      type: string
    OwnedDsrItem:
      type: object
      properties:
        mineUserId:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        userEmail:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        domain:
          type:
          - string
          - 'null'
        groupIdAssignment:
          type:
          - string
          - 'null'
        accept:
          type: boolean
        ticketType:
          $ref: '#/components/schemas/TicketType'
        privacyRightId:
          type:
          - string
          - 'null'
          readOnly: true
        brandId:
          type:
          - string
          - 'null'
        ticketSource:
          $ref: '#/components/schemas/TicketSource'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
        ticketState:
          $ref: '#/components/schemas/ExternalRequestStateInfo'
        actionId:
          type:
          - string
          - 'null'
        ticketId:
          type:
          - string
          - 'null'
        emailEvidence:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailEvidenceContract'
        formCustomData:
          $ref: '#/components/schemas/FormCustomData'
        dataSubjectTypeInfo:
          $ref: '#/components/schemas/DataSubjectTypeResponse'
        customFields:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        preferredLocale:
          type:
          - string
          - 'null'
        notification:
          type: boolean
        targetAddress:
          type:
          - string
          - 'null'
        evidenceLastViewed:
          type:
          - string
          - 'null'
          format: date-time
        acceptedOrRejectedTime:
          type:
          - string
          - 'null'
          format: date-time
        autoPilotState:
          $ref: '#/components/schemas/AutoPilotState'
        autoPilotInfo:
          $ref: '#/components/schemas/AutoPilotInfo'
        requireAttentionInfo:
          $ref: '#/components/schemas/TicketRequireAttentionResponse'
      additionalProperties: false
    AutoPilotState:
      enum:
      - NotAssigned
      - Assigned
      - TimeOut
      type: string
    ExternalTicketState:
      enum:
      - Unknown
      - Open
      - Closed
      - Redacted
      - Processing
      - Notify
      - Redacting
      - Unverified
      - NotReady
      - Edit
      - Pending
      type: string
    CustomQuestion:
      type: object
      properties:
        question:
          type:
          - string
          - 'null'
        multiSelect:
          type: boolean
        answers:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    TicketRequireAttentionResponse:
      type: object
      properties:
        markedAsRequireAttention:
          type: boolean
      additionalProperties: false
    DataSubjectType:
      type: object
      additionalProperties: false
    DataSubjectTypeResponse:
      type: object
      properties:
        dataSubjectType:
          $ref: '#/components/schemas/DataSubjectType'
        dataSubjectTypeLabel:
          type:
          - string
          - 'null'
        authorizedAgentInfo:
          $ref: '#/components/schemas/AuthorizedAgentResponse'
      additionalProperties: false
    ReasonEnum:
      enum:
      - Unknown
      - Completed
      - Rejected
      - Canceled
      - NewTicket
      - Other
      - EvidenceFinished
      - Redacted
      - NewForm
      - EmailValidation
      - ApiKey
      - ManualCreation
      - AgentEditEmailForwarding
      - Import
      - AcceptTicket
      - RejectTicket
      - DoneDeleting
      - DoneCopying
      - Reopened
      - AutoTransition
      type: string
    AuthorizedAgentInfo:
      type: object
      properties:
        authorizedAgentEmail:
          type:
          - string
          - 'null'
        verificationDocumentFile:
          $ref: '#/components/schemas/FileAttachment'
      additionalProperties: false
    AutoPilotInfo:
      type: object
      properties:
        state:
          $ref: '#/components/schemas/AutoPilotState'
        initiatingAgentId:
          type:
          - string
          - 'null'
        lastModified:
          type:
          - string
          - 'null'
          format: date-time
        delayUntilTime:
          type:
          - string
          - 'null'
          format: date-time
        assignedAtStateVersion:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "Authorization header using the Bearer scheme. \n\nEnter 'Bearer' [space] and then your API Key in the text input below.\n\nExample: 'Bearer 12345abcdef'"
      name: Authorization
      in: header
