{
  "openapi": "3.0.1",
  "info": {
    "title": "MineOS API",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.portal.saymine.com/",
      "description": "MineOS EU API Endpoint"
    },
    {
      "url": "https://api.us.portal.saymine.com/",
      "description": "MineOS US API Endpoint"
    }
  ],
  "paths": {
    "/api/aispm/v1/ping": {
      "get": {
        "tags": [
          "Aispm"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/device-flags": {
      "get": {
        "tags": [
          "AispmDeviceFlags"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/enroll": {
      "post": {
        "tags": [
          "AispmEnroll"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/enroll/renew": {
      "post": {
        "tags": [
          "AispmEnroll"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RenewRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RenewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/aispm/v1/enrollment-tokens": {
      "post": {
        "tags": [
          "AispmEnrollmentTokens"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/aispm/v1/enrollment-tokens/rotate": {
      "post": {
        "tags": [
          "AispmEnrollmentTokens"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/aispm/v1/enrollment-tokens/{tokenId}": {
      "delete": {
        "tags": [
          "AispmEnrollmentTokens"
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ingest": {
      "post": {
        "tags": [
          "AispmIngest"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AispmIngestMintRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AispmIngestMintRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AispmIngestMintRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AispmIngestMintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/aispm/v1/insights": {
      "get": {
        "tags": [
          "AispmInsights"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/aispm/v1/public/agents": {
      "get": {
        "tags": [
          "AispmPublicAgents"
        ],
        "summary": "Lists every AI agent discovered for the authenticated tenant, with rollups derived on read: device\r\ncount, current posture score, current risk score/level, and business-purpose classification (D26).\r\nReturns an empty array if the tenant has no discovered agents yet — never a 404.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentListItemDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/aispm/v1/public/agents/{id}": {
      "get": {
        "tags": [
          "AispmPublicAgents"
        ],
        "summary": "Retrieves full detail for one discovered agent: its tools, skills, every device it was found on\r\n(each fully expanded), its business-purpose classification, and its current risk/posture scores.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The agent's unique identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDetailDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/aispm/v1/public/agents/{id}/vulnerabilities": {
      "get": {
        "tags": [
          "AispmPublicAgents"
        ],
        "summary": "Returns the vulnerabilities found on the agent's current posture-analysis run, joined to the\r\nvulnerability catalog. Served separately from M:Mine.Portal.Module.AispmAgentsDemo.Api.PublicApi.AispmPublicAgentsController.GetAgentSignals(System.Guid,System.Threading.CancellationToken) — the two risk-factor\r\ncollections are never unioned (D35). If the agent has no completed posture run yet, returns an\r\nempty list with null run/score fields rather than a 404.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The agent's unique identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVulnerabilitiesDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/aispm/v1/public/agents/{id}/signals": {
      "get": {
        "tags": [
          "AispmPublicAgents"
        ],
        "summary": "Returns the governance signals from the agent's current insights run — the second, separately\r\nserved risk-factor collection (never unioned with vulnerabilities, D35). If the agent has no\r\ncompleted insights run yet, returns an empty list with null run/score fields rather than a 404.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The agent's unique identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSignalsDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/aispm/v1/public/devices": {
      "get": {
        "tags": [
          "AispmPublicDevices"
        ],
        "summary": "Lists every device discovered for the authenticated tenant, including every device column plus the\r\nscanner version from its last scan run. Returns an empty array if the tenant has no discovered\r\ndevices yet — never a 404.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceFullDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/aispm/v1/public/devices/{id}": {
      "get": {
        "tags": [
          "AispmPublicDevices"
        ],
        "summary": "Retrieves full detail for one device: every device column plus every agent found on it, each fully\r\nexpanded (tools, skills, business purpose, posture analysis run summary, and both risk-factor\r\ncollections — vulnerabilities and signals, never unioned, D35).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The device's unique identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDetailDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/assessment/List": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves a list of assessments based on the provided type and pagination parameters.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of assessments to retrieve (e.g. PIA, DPIA, TIA).",
            "schema": {
              "$ref": "#/components/schemas/PageType"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The optional starting point for pagination. Defaults to 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The optional maximum number of assessments to retrieve. Defaults to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAssessmentPageResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/assessment/{id}": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves the details of a specific assessment based on its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the assessment to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAssessmentPageResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/assessment/{id}/collaborators": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Sends an invitation to collaborators for the specified assessment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the assessment for which collaborators are being invited.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The request containing details of the collaborators to invite.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CollaboratorInviteRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollaboratorInviteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CollaboratorInviteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CollaboratorInviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/assessment/form-submission": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Adds a new Form submission content for a system.",
        "requestBody": {
          "description": "The data for the form submission wrapped in a Mine.Portal.Module.Assessments.FormSubmission.Api.Public.Contracts.Requests.PublicFormSubmissionRequest object.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicFormSubmissionRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicFormSubmissionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicFormSubmissionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicFormSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFormSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/assessment/{id}/form-submission": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves form submissions for a specific assessment based on its identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the assessment for which to retrieve form submissions.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicFormSubmissionResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/assessment/from-template": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Creates a new assessment based on the provided template details.",
        "requestBody": {
          "description": "The request containing the data required to create an assessment from a template.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFromTemplateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFromTemplateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFromTemplateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFromTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAssessmentPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/tprm/trigger": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Triggers a Third-Party Risk Management (TPRM) event based on the provided request details.",
        "requestBody": {
          "description": "The request object containing the necessary data to trigger the TPRM event.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerTprmPublicRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerTprmPublicRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerTprmPublicRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerTprmPublicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/assessment/form-submission/{id}/attachment": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Uploads an attachment file for a specific form submission and triggers RAG indexing.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the form submission.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/template/List": {
      "get": {
        "tags": [
          "AssessmentTemplate"
        ],
        "summary": "Retrieves a list of assessment templates available for the company.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return in the result set.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplatePublicResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/employee/List": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Retrieves a list of the non-archived company Employees with pagination parameters.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The optional starting point for pagination. If not provided, it defaults to 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The optional maximum number of employees to retrieve. If not provided, it defaults to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeePublicResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/EvidenceSearch/Request/{requestId}": {
      "get": {
        "tags": [
          "EvidenceSearch"
        ],
        "summary": "Search request by ID",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "Request ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5G1A43Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MineAppSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/privacy-rights": {
      "get": {
        "tags": [
          "PrivacyRightsPublic"
        ],
        "summary": "Get privacy rights",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrivacyRightResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "PrivacyRightsPublic"
        ],
        "summary": "Create a privacy right",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacyRightRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacyRightRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacyRightRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacyRightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyRightCreationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/public-v1/system/List": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "List all the data sources in your company by state",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "The state of the requested data sources.",
            "schema": {
              "$ref": "#/components/schemas/SystemState"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset size for pagination. default is 0",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The page size for pagination. default is 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SystemPublicLeanResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/system/{id}": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get data source by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the requested data source",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "System"
        ],
        "summary": "Update a Data Source properties in the inventory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the requested data source to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "the patch request of the data source",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SystemPublicPatchDtoJsonPatchRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemPublicPatchDtoJsonPatchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemPublicPatchDtoJsonPatchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SystemPublicPatchDtoJsonPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/system/AddCatalogSystem": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Add new Data Source from the catalog to the inventory",
        "requestBody": {
          "description": "The request with the site domain which the requested data source related to",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddCatalogSystemPublicRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCatalogSystemPublicRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCatalogSystemPublicRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddCatalogSystemPublicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/system/AddCustomSystem": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Add new Custom Data Source to the inventory",
        "requestBody": {
          "description": "The request with the name for the new custom data source",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddCustomSystemPublicRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCustomSystemPublicRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCustomSystemPublicRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddCustomSystemPublicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/system/business-unit/list": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "List all the existing business units (departments) in your company",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessUnitPublicResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public-v1/system/{id}/ai-autofill": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Trigger AI autofill suggestions for a data source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the data source to autofill",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional custom prompt and correlation id. A correlation id is generated when not supplied.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SystemAutofillTriggerPublicRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemAutofillTriggerPublicRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemAutofillTriggerPublicRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SystemAutofillTriggerPublicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemAutofillTriggerPublicResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Test/Me": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "Test",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/List": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "List all requests",
        "description": "Returns a paginated list of tickets. Use the cursor tokens in the response to fetch the next or previous page.\r\nAll query filters are optional. Closed requests created more than 3 months ago are not included in the response.",
        "parameters": [
          {
            "name": "State",
            "in": "query",
            "description": "Filter by list of ticket states. The default is all. Possible values are: [Open, Closed, Redacted, Processing, Notify, Delete, Redacting, Edit, Unverified]",
            "schema": {
              "type": "string",
              "example": "Processing,Notify"
            },
            "example": "Processing,Notify"
          },
          {
            "name": "PrivacyRightIds",
            "in": "query",
            "description": "Filter by list of right ids. The default is all.",
            "schema": {
              "type": "string",
              "example": "delete"
            },
            "example": "delete"
          },
          {
            "name": "BrandIds",
            "in": "query",
            "description": "Filter by list of brand ids. The default is all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MinCreatedAt",
            "in": "query",
            "description": "Filter by created at dates - return only requests that were created after the provided date at 00:00, in the format: yyyy-MM-dd.",
            "schema": {
              "type": "string",
              "example": "2023-05-20"
            },
            "example": "2023-05-20"
          },
          {
            "name": "MaxCreatedAt",
            "in": "query",
            "description": "Filter by created at dates - return only requests that were created before the provided date at 00:00, iin the format: yyyy-MM-dd",
            "schema": {
              "type": "string",
              "example": "2023-05-20"
            },
            "example": "2023-05-20"
          },
          {
            "name": "MinClosedAt",
            "in": "query",
            "description": "Filter by closed at dates - return only requests that were closed after the provided date at 00:00, in the format: yyyy-MM-dd.\r\nRelevant for tickets that were closed after 13/03/2024.",
            "schema": {
              "type": "string",
              "example": "2024-04-20"
            },
            "example": "2024-04-20"
          },
          {
            "name": "MaxClosedAt",
            "in": "query",
            "description": "Filter by closed at dates - return only requests that were closed before the provided date at 00:00, iin the format: yyyy-MM-dd.\r\nRelevant for tickets that were closed after 13/03/2024.",
            "schema": {
              "type": "string",
              "example": "2024-04-20"
            },
            "example": "2024-04-20"
          },
          {
            "name": "After",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/ticket/{ticketId}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get ticket",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "TicketID of the request to get info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/{ticketId}/log": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get ticket logs",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "TicketID of the request to get info for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketLogs"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/{ticketId}/dueDate": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Update the due date of a request",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "TicketID of the request to upadte due date for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DueDateUpdateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DueDateUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DueDateUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DueDateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/Create/v2": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Create request [v2]",
        "description": "Duplication handling - if there was already an attempt to create a ticket with the same email with the same request type in the last minute,\r\nwe return 202 with the existing ticket id and avoid creating another one",
        "parameters": [
          {
            "name": "test",
            "in": "query",
            "description": "When test is True a request will not actually be created",
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "requestBody": {
          "description": "the details of the request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestCreateResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/CreateMany": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Create many requests",
        "description": "Duplication handling - if there was already an attempt to create a request with the same email and the same request type in the last minute,\r\nwe return the existing request id and avoid creating another one.\r\nFailure in creating a request will be indicated in the response,\r\nif any request creation fails, the system continuous with the rest of the requests",
        "parameters": [
          {
            "name": "test",
            "in": "query",
            "description": "When test is True no requests will actually be created",
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RequestCreateWithPrivacyRightRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SingleRequestCreateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/GetMetadata": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get metadata",
        "description": "Used to read metadata or custom identifiers from the request.",
        "parameters": [
          {
            "name": "ticketId",
            "in": "query",
            "description": "TicketID of the request to update status for",
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketGetMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/UpdateMetadata": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Update metadata",
        "description": "Used to store metadata or custom identifiers on the request.",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TicketUpdateMetadataRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketUpdateMetadataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketUpdateMetadataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TicketUpdateMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/{ticketId}/require-attention": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Mark/unmark a ticket with the Require Attention label",
        "description": "Will pause any automatic ticket runs until marked as reviewed.\r\nWill not pause any data mutation process once the processing automation step has started",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TicketMarkAsRequireAttentionRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketMarkAsRequireAttentionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketMarkAsRequireAttentionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TicketMarkAsRequireAttentionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/{ticketId}/group-assignment": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Assign a group to a request",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAssignmentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAssignmentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAssignmentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/AddNote": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Add a note",
        "parameters": [
          {
            "name": "ticketId",
            "in": "query",
            "description": "The Request ID to add note for",
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Optional. The User ID to add note on behalf of",
            "schema": {
              "type": "string"
            },
            "example": "1135124226903180384"
          }
        ],
        "requestBody": {
          "description": "The contents of the note",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NoteTextRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteTextRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteTextRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NoteTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/Redact/{ticketId}": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Redact request",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Ticket ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eb640185-9e3d-48f5-bf74-d7a3120814e8"
          },
          {
            "name": "test",
            "in": "query",
            "description": "When set to true, request will not actually be redacted",
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/ticket/CloseV2": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Close request",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CloseTicketRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseTicketRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseTicketRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CloseTicketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/ticket/EngageAutopilot/{ticketId}": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Start Autopilot",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "TicketID of the request to start autopilot for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketAssignAutoPilotResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/ticket/{ticketId}/custom-integrations/{integrationId}": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Update custom integration status [v2]",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "TicketID of the associated request",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "IntegrationID of the associated request",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomIntegrationActionStatusRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomIntegrationActionStatusRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomIntegrationActionStatusRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomIntegrationActionStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ticket/{ticketId}/workflow": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get the workflow assigned to a ticket",
        "description": "Returns the workflow id, display name, and the list of integrations attached to the ticket's workflow.",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "TicketID of the request",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketWorkflowResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Change the workflow assigned to a ticket",
        "description": "Allowed only when the ticket has not yet started processing. If the requested workflow is the same as the\r\none already assigned, the request is a no-op and returns 200 without any side effect.",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "TicketID of the request",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3664feb0-b48c-4a8a-a81d-1303a4efc64f"
          }
        ],
        "requestBody": {
          "description": "Workflow id to assign",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeWorkflowRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeWorkflowRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeWorkflowRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/Webhooks/Configurations": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get all current webhook configurations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookConfigurationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/Webhooks/Configurations/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook configuration for a specific Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Use 'default' for main Id or UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/Webhooks/Subscribe": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Adds a new webhook endpoint",
        "description": "This will always add a new webhook endpoint, even if a similar webhook url has already been configured\r\nMax number of webhook configurations is 30\r\nSupported event types: TicketCreated, TprmTrigger, TicketClosed",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriberPostRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriberPostRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriberPostRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriberPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/Webhooks/Subscribe/{id}": {
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update an existing webhook configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/Webhooks/Endpoint": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Sets webhook endpoint",
        "description": "This will replace any existing endpoint that is currently set, either from the UI or a previous API call.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The URL of the new endpoint. Will replace any existing endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A list of enabled events to be sent to the endpoint.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WebhookEventType"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WebhookEventType"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WebhookEventType"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WebhookEventType"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Disables webhook endpoint",
        "description": "This will disable any existing endpoint that is currently set, either from the UI or a previous API call.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/Webhooks/Unsubscribe/{id}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Deletes webhook endpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActionStatus": {
        "enum": [
          "NotStarted",
          "MissingIdentifiers",
          "InProgress",
          "Completed",
          "Failed",
          "Expired",
          "PartialCompleted"
        ],
        "type": "string"
      },
      "AddCatalogSystemPublicRequest": {
        "required": [
          "domain"
        ],
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "nullable": true
          },
          "businessUnits": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "domain": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "AddCustomSystemPublicRequest": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "nullable": true
          },
          "businessUnits": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "name": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "AgentBusinessPurposeDto": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "The classified business purpose (e.g. \"customer support automation\").",
            "nullable": true
          },
          "confidence": {
            "type": "integer",
            "description": "Classifier confidence, 0-100.",
            "format": "int32"
          },
          "explanation": {
            "type": "string",
            "description": "A short explanation of why this purpose was assigned.",
            "nullable": true
          },
          "insightsRunId": {
            "type": "string",
            "description": "The insights run that produced this classification, if any.",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Business-purpose classification as a full object (source: AgentBusinessPurpose, 1:1 with Agent)."
      },
      "AgentDetailDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The agent's unique identifier.",
            "format": "uuid"
          },
          "displayName": {
            "type": "string",
            "description": "The agent's display name, if known.",
            "nullable": true
          },
          "applicationType": {
            "type": "string",
            "description": "The kind of application this agent runs as (e.g. browser extension, CLI tool, IDE plugin).",
            "nullable": true
          },
          "findingType": {
            "type": "string",
            "description": "How this agent was found (e.g. process scan, browser extension inventory).",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "The agent's current lifecycle status.",
            "nullable": true
          },
          "llms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The LLM providers/models this agent is known to call.",
            "nullable": true
          },
          "vendorId": {
            "type": "string",
            "description": "The vendor this agent is attributed to, if resolved.",
            "format": "uuid",
            "nullable": true
          },
          "deviceCount": {
            "type": "integer",
            "description": "The number of devices this agent is currently present on (derived, not stored).",
            "format": "int32"
          },
          "firstSeenAt": {
            "type": "string",
            "description": "The earliest time this agent was seen on any device.",
            "format": "date-time",
            "nullable": true
          },
          "lastSeenAt": {
            "type": "string",
            "description": "The most recent time this agent was seen on any device.",
            "format": "date-time",
            "nullable": true
          },
          "postureScore": {
            "type": "integer",
            "description": "The agent's current posture score, or null if it has no completed posture run yet.",
            "format": "int32",
            "nullable": true
          },
          "riskScore": {
            "type": "integer",
            "description": "The agent's current risk score, or null if it has no completed insights run yet.",
            "format": "int32",
            "nullable": true
          },
          "riskLevel": {
            "type": "string",
            "description": "The agent's current risk level (derived from Mine.Portal.Module.AispmAgentsDemo.Api.PublicApi.AgentListItemDto.RiskScore), or null.",
            "nullable": true
          },
          "businessPurpose": {
            "$ref": "#/components/schemas/AgentBusinessPurposeDto"
          },
          "definitionSummary": {
            "type": "string",
            "description": "A short, human-readable summary of what this agent's definition does.",
            "nullable": true
          },
          "definitionExcerpt": {
            "type": "string",
            "description": "A redacted excerpt of the agent's raw definition (see the P13 redaction contract).",
            "nullable": true
          },
          "builtinCapabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Built-in capability flags this agent's definition declares.",
            "nullable": true
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentToolDto"
            },
            "description": "The tools this agent is configured with.",
            "nullable": true
          },
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentSkillDto"
            },
            "description": "The skills this agent is configured with.",
            "nullable": true
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentDeviceDto"
            },
            "description": "Every device this agent has been found on, each with its finding-specific state.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Full detail for one discovered agent, extending the list-item fields with tools/skills/devices.\r\nNote: the inherited Mine.Portal.Module.AispmAgentsDemo.Api.PublicApi.AgentListItemDto.FirstSeenAt/Mine.Portal.Module.AispmAgentsDemo.Api.PublicApi.AgentListItemDto.LastSeenAt\r\nare not populated here (they're a list-endpoint rollup only) — per-device timing is available via\r\neach element of Mine.Portal.Module.AispmAgentsDemo.Api.PublicApi.AgentDetailDto.Devices."
      },
      "AgentDeviceDto": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "Whether the agent is currently present on this device, or historical.",
            "nullable": true
          },
          "firstSeenAt": {
            "type": "string",
            "description": "The first time this agent was seen on this device.",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "The most recent time this agent was seen on this device.",
            "format": "date-time"
          },
          "device": {
            "$ref": "#/components/schemas/DeviceFullDto"
          }
        },
        "additionalProperties": false,
        "description": "One agent-on-device occurrence: the finding-specific fields plus the full device record."
      },
      "AgentListItemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The agent's unique identifier.",
            "format": "uuid"
          },
          "displayName": {
            "type": "string",
            "description": "The agent's display name, if known.",
            "nullable": true
          },
          "applicationType": {
            "type": "string",
            "description": "The kind of application this agent runs as (e.g. browser extension, CLI tool, IDE plugin).",
            "nullable": true
          },
          "findingType": {
            "type": "string",
            "description": "How this agent was found (e.g. process scan, browser extension inventory).",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "The agent's current lifecycle status.",
            "nullable": true
          },
          "llms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The LLM providers/models this agent is known to call.",
            "nullable": true
          },
          "vendorId": {
            "type": "string",
            "description": "The vendor this agent is attributed to, if resolved.",
            "format": "uuid",
            "nullable": true
          },
          "deviceCount": {
            "type": "integer",
            "description": "The number of devices this agent is currently present on (derived, not stored).",
[...]
